@import "./variables.scss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: $bg;
  color: $text;
}

* {
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
  background-color: $primary;
  border-radius: 10px;
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $bg;
  border-radius: 10px;
}
