$blue-base: #3178c6;
$dark-blue: #1d4971;
$light-blue: #4c8dcf;
$saturated-blue: #215da8;
$desaturated-blue: #5795d9;
$black-blue: #12233f;
$white-blue: #2ec6e5;
$purple: #cbb6ff;
$black: #000000;
$white: #ffffff;
$error: #e70008;
$input: #f7e9fbb3;
$dark-gray: #666666;
$light-gray: #cccccc;

:root {
  --blue-base: #{$blue-base};
  --dark-blue: #{$dark-blue};
  --light-blue: #{$light-blue};
  --saturated-blue: #{$saturated-blue};
  --desaturated-blue: #{$desaturated-blue};
  --black-blue: #{$black-blue};
  --white-blue: #{$white-blue};
  --purple: #{$purple};
  --black: #{$black};
  --white: #{$white};
  --error: #{$error};
  --input: #{$input};
  --dark-gray: #{$dark-gray};
  --light-gray: #{$light-gray};
}
